.shopping-cart__badge .MuiBadge-badge {
    background-color: lightblue;
    color: #2D2D2D;
    border: 0.1rem solid #0D47A1;
    position: absolute;
    top: 1.2rem;
    left: 0.3rem;
}

.shopping-cart__icon {
    color: #FFFFFF;
}
